<nav class="navbar navbar-expand-lg align-items-center justify-content-lg-start py-4">
    <div class="container d-flex align-items-center justify-content-lg-start">
        <a class="navbar-brand" [routerLink]="['/']"><img class="mb-0" width="100" height="auto" src="../../../../assets/images/logo-with-name.png" alt="logo"></a>
        <ul class="ml-sm-auto navbar-nav justify-content-end flex-row align-items-center order-1">
            <li class="nav-item d-none d-md-block mr-4">
                <a [routerLink]="['/faqs']" class="text-normal font-size-16">
                    {{'faqs' | translate }}
                </a>
            </li>
            <li class="nav-item d-none d-md-block mr-4">
                <a [routerLink]="['/account/auth/sign-in']" class="text-normal font-size-16"> 
                    {{'login' | translate}}
                </a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="btn btn-primary btn-neu-light mr-4" [routerLink]="['/account/auth/sign-up']"> 
                    {{'createStore' | translate}}
                </a>
            </li>
            <li ngbDropdown placement="bottom-left" class="nav-item d-md-none" display="dynamic" autoClose="outside">
                <a ngbDropdownToggle id="profileDropdown" href="javascript:void(0)" class="btn br-3 btn-primary no-dropdown-arrow">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="profileDropdown" class="dropdown-menu dropdown-menu-right">
                    <a [routerLink]="['/faqs']" ngbDropdownItem>
                        {{'faqs' | translate }}
                    </a>
                    <a [routerLink]="['/account/auth/sign-in']" ngbDropdownItem>
                        {{'login' | translate}}
                    </a>
                    <a [routerLink]="['/account/auth/sign-up']" ngbDropdownItem>
                        {{'createStore' | translate}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="mb-2 mb-md-0">{{'faqsTitle' | translate}}</h1>
</div>
<div class="container mt-5 faqs">
    <div class="d-flex justify-content-between flex-wrap">
        <ul ngbNav #nav="ngbNav" class="nav-tabs border-0 col-12 col-md-4 col-lg-2" orientation="vertical">
            <li ngbNavItem="store">
                <a class="font-size-16" ngbNavLink>{{'faqsStore1' | translate}}</a>
                <ng-template ngbNavContent>
                    <ngb-accordion #store="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsStore2' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        <span [innerHTML]="'faqsStore3' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        <span [innerHTML]="'faqsStore4' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsStore5' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        {{'faqsStore6' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">5</div>
                                        {{'faqsStore7' | translate}}
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsStore8' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsStore9' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        {{'faqsStore10' | translate}}
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </li>
            <li ngbNavItem="products">
                <a class="font-size-16" ngbNavLink>{{'faqsProducts1' | translate}}</a>
                <ng-template ngbNavContent>
                    <ngb-accordion #products="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsProducts2' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsProducts3' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        <span [innerHTML]="'faqsProducts4' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsProducts5' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        <span [innerHTML]="'faqsProducts6' | translate"></span>
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsProducts7' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsProducts8' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        <span [innerHTML]="'faqsProducts9' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsProducts10' | translate"></span>
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </li>
            <li ngbNavItem="customers">
                <a class="font-size-16" ngbNavLink>{{'faqsCustomers1' | translate}}</a>
                <ng-template ngbNavContent>
                    <ngb-accordion #customers="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsCustomers2' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsCustomers3' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        <span [innerHTML]="'faqsCustomers4' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsCustomers5' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        <span [innerHTML]="'faqsCustomers6' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">5</div>
                                        {{'faqsCustomers7' | translate}}
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </li>
            <li ngbNavItem="orders">
                <a class="font-size-16" ngbNavLink>{{'faqsOrders1' | translate}}</a>
                <ng-template ngbNavContent>
                    <ngb-accordion #orders="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsOrders2' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsOrders3' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        <span [innerHTML]="'faqsOrders4' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsOrders5' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        <span [innerHTML]="'faqsOrders6' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">5</div>
                                        <span [innerHTML]="'faqsOrders7' | translate"></span>
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </li>
            <li ngbNavItem="others">
                <a class="font-size-16" ngbNavLink>{{'faqsEshop1' | translate}}</a>
                <ng-template ngbNavContent>
                    <ngb-accordion #eshop="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsEshop2' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsEshop3' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        {{'faqsEshop4' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        <span [innerHTML]="'faqsEshop5' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        <span [innerHTML]="'faqsEshop6' | translate"></span>
                                    </li>
                                    <li class="font-weight-bold">{{'faqsEshop7' | translate}}</li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between cursor-pointer">
                                    <div>
                                        <p class="font-size-16">{{'faqsEshop8' | translate}}</p>
                                    </div>
                                    <button class="btn-link stretched-link" ngbPanelToggle>
                                        <ng-container *ngIf="opened; else down;">
                                            <i class="fa font-size-20 fa-minus-circle"></i>
                                        </ng-container>
                                        <ng-template #down>
                                            <i class="fa font-size-20 fa-plus-circle"></i>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ul class="list-unstyled replies">
                                    <li>
                                        <span [innerHTML]="'faqsEshop9' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">1</div>
                                        {{'faqsEshop10' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">2</div>
                                        {{'faqsEshop11' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">3</div>
                                        {{'faqsEshop12' | translate}}
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">4</div>
                                        <span [innerHTML]="'faqsEshop13' | translate"></span>
                                    </li>
                                    <li>
                                        <div class="avatar-xs bg-light-primary text-primary rounded-circle mr-2 d-inline-block font-size-18 text-center">5</div>
                                        <span [innerHTML]="'faqsEshop14' | translate"></span>
                                    </li>
                                    <li>
                                        <span class="font-weight-bold">{{'faqsEshop15' | translate}}</span>
                                    </li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="col-12 mt-4 mt-md-0 pt-0 col-md-7 col-lg-9"></div>
    </div>
</div>
<div class="bg-deep-gray mt-100 py-5">
    <div class="container">
        <img class="mb-5" width="100" height="auto" src="../../../../assets/images/logo-with-name.png" alt="logo">
        <div class="mt-4 row justify-content-between">
            <div class="col mb-5 mb-sm-0">
                <h2 class="mb-3 text-dark">{{'footer1' | translate}}</h2>
                <p class="mb-1">
                    <a class="text-dark" href="mailto:souko.limited@gmail.com" target="_blank">
                        <span><i class="fa fa-envelope"></i></span>
                        Souko
                    </a>
                </p>
                <p class="mb-1">
                    <a class="text-dark" href="https://instagram.com/souko_me" target="_blank">
                        <span><i class="fa fa-instagram"></i></span>
                        Souko.me
                    </a>
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="media mb-4">
                    <div class="avatar-lg rounded-lg d-flex align-items-center justify-content-around text-center mr-4">
                        <img class="img-fit rounded-lg" src="../../../../assets/images/stephane-photo.jpg" alt="photo">
                    </div>
                    <div class="media-body">
                        <p class="font-weight-bold mb-1">Guy Stephane</p>
                        <p class="mb-2">{{'footer2' | translate}}</p>
                        <p class="small mb-1">
                            <a class="text-dark" href="https://www.linkedin.com/in/guy-stephane-tanoh-5256a6100" target="_blank">
                                <span><i class="fa fa-linkedin"></i></span>
                                Guy Stephane Tanoh
                            </a>
                        </p>
                        <p class="small mb-1">
                            <a class="text-dark" href="https://twitter.com/Guy_steph" target="_blank">
                                <span><i class="fa fa-twitter"></i></span>
                                Guitoo Stephane
                            </a>
                        </p>
                        <p class="small mb-0">
                            <a class="text-dark" href="https://instagram.com/stephan_guit00" target="_blank">
                                <span><i class="fa fa-instagram"></i></span>
                                Guitoo Stephane
                            </a>
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="avatar-lg rounded-lg d-flex align-items-center justify-content-around text-center mr-4">
                        <img class="img-fit rounded-lg" src="../../../../assets/images/jojo-photo.jpg" alt="photo">
                    </div>
                    <div class="media-body">
                        <p class="font-weight-bold mb-1">Joel Kouame</p>
                        <p class="mb-2">{{'footer3' | translate}}</p>
                        <p class="small mb-1">
                            <a class="text-dark" href="https://www.linkedin.com/in/joel-kouame-05aa5a119" target="_blank">
                                <span><i class="fa fa-linkedin"></i></span>
                                Joel Kouame
                            </a>
                        </p>
                        <p class="small mb-0">
                            <a class="text-dark" href="https://www.instagram.com/abissa_joe" target="_blank">
                                <span><i class="fa fa-instagram"></i></span>
                                Joel Kouame
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
