<div class="container-fluid mt-4">
    <ng-container *ngIf="loading; else noloading;">
        <div class="row">
            <div class="mx-auto my-5">
                <div class="spinner-border text-primary m-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noloading>
        <div class="row justify-content-between mb-4 align-items-center">
            <div class="col-12 col-sm-5 px-0 d-flex mb-3 mb-md-0 align-item-start pt-3">
                <div class="col-2 col-sm-3 col-md-1 col-md-2 px-0 d-flex align-items-start">
                    <a [routerLink]="['/orders/list/']" class="mr-4 display-4 font-weight-light text-dark">
                        <i class="uil uil-arrow-left"></i>
                    </a>
                </div>
                <div class="col-9 col-sm pr-0">
                    <div class="d-flex align-items-center">
                        <h1 class="my-0 mr-2">Order</h1>
                        <span class="badge badge-pill px-3 py-2 mr-2" [class.badge-soft-success]="order.payment_status == 'Paid'" [class.badge-light]="order.payment_status == 'Not Paid'" [class.badge-soft-warning]="order.payment_status == 'Partially Paid'">{{order.payment_status | uppercase}}</span>
                        <span class="badge badge-pill px-3 py-2" [class.badge-soft-success]="order.confirmed" [class.badge-light]="!order.confirmed">{{ ( order.confirmed ? 'Confirmed' : 'Not Confirmed' )  | uppercase}}</span>
                    </div>
                    <p class="mb-0">#{{order.number}}</p>
                    <p class="mb-1 text-primary">{{order.created_at | date}}</p>
                    <p class="mb-0">
                        <a class="mr-2" [routerLink]="['/orders/edit', order.id]">Edit <i class="uil uil-pen"></i></a> |
                        <a (click)="promptForDeletingOrder()" class="ml-2 text-danger" href="javascript:void(0)">Delete <i class="uil uil-trash"></i></a> 
                        <ng-container *ngIf="!order.confirmed">
                            |
                            <a href="javascript:void(0)" (click)="confirmOrder()">Mark as confirmed <i class="uil uil-check-circle"></i></a>
                        </ng-container>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 d-flex align-items-center justify-content-start justify-content-sm-end">
                <div class="media">
                    <div class="avatar avatar-md rounded-circle d-flex align-items-center justify-content-around bg-soft-primary text-center text-primary">
                        <i class="uil uil-user font-size-28"></i>
                    </div>
                    <div class="media-body ml-2">
                        <p class="font-size-18 font-weight-bold"><a [routerLink]="['/customers', order.customer.id]">{{order.customer.first_name + ' ' + order.customer.last_name}}</a></p>
                        <p class="mb-0">{{ order.customer.city ? order.customer.city : '' + ' ' + order.customer.country }}</p>
                        <p class="mb-0">{{ order.customer.phone_number ? order.customer.phone_number : '' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 order-0 order-md-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Payments</h4>
                        <ng-container *ngIf="order.payments.length; else nopayments;">
                            <div class="d-flex justify-content-center mb-3">
                                <div class="col-10">
                                    <div class="card border border-light-dark">
                                        <div class="card-body">
                                            <p class="mb-1 text-center text-dark-success">{{ percentage | percent }} completed</p>
                                            <mat-progress-bar mode="determinate" class="bar-success" [value]="percentage * 100"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-size-13">Details</p>
                                <p *ngIf="order.payment_status !== 'Paid'" class="text-center font-size-13">
                                    <a (click)="recordPayment()" href="javascript:void(0)">
                                        <i class="uil uil-plus"></i>
                                        Record Payment
                                    </a>
                                </p>
                            </div>
                            <ng-container *ngFor="let payment of order.payments">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="mb-0 font-size-16">{{payment.created_at | date}}</p>
                                    <p class="mb-0 font-size-16 text-right">{{payment.amount | currency:currency:'symbol':'1.0-0' }}</p>
                                </div>
                                <hr>
                            </ng-container>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0 font-size-16">Total</p>
                                <p class="mb-0 font-size-16 text-right text-primary">{{ cost | currency:currency:'symbol':'1.0-0' }}</p>
                            </div>
                            <ng-container *ngIf="order.payment_status == 'Partially Paid'">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="mb-0 font-size-16">Balance</p>
                                    <p class="mb-0 font-size-16 text-right">{{ order.balance | currency:currency:'symbol':'1.0-0' }}</p>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #nopayments>
                            <p class="mb-2 text-center">
                                <a (click)="recordPayment()" href="javascript:void(0)">
                                    <i class="uil uil-plus"></i>
                                    Record Payment (Partial Payment)
                                </a>
                            </p>
                            <p class="mb-2 text-center">
                                or
                            </p>
                            <p class="mb-2 text-center">
                                <a class="btn btn-primary" (click)="payOrder()" href="javascript:void(0)">
                                    Mark as Paid (Full Payment)
                                </a>
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 order-1 order-md-0">
                <h4 class="mb-3">Order Items</h4>
                <div class="table-responsive mb-5">
                    <table class="table m-0 table-striped">
                        <tbody>
                            <ng-container *ngFor="let item of order.order_items">
                                <tr class="border-2 mb-3">
                                    <td>
                                        <span class="font-weight-bold">Product:</span>
                                        <a [routerLink]="['/products', item.product.id]">{{item.product.name}}</a>
                                    </td>
                                    <td class="cursor-pointer"><span class="font-weight-bold">Quantity:</span> {{item.quantity}}</td>
                                    <td class="cursor-pointer"><span class="font-weight-bold">Cost:</span> {{item.cost | currency:currency:'symbol':'1.2-2'}}</td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="font-weight-bold">Other Expenses</td>
                                <td></td>
                                <td class="font-weight-bold">{{order.delivery_fee | currency:currency:'symbol':'1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Cost</td>
                                <td></td>
                                <td class="font-weight-bold">{{order.total_amount | currency:currency:'symbol':'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-template>
</div>