<div class="container-fluid mt-4">
    <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="mb-2 mb-md-0">Products</h1>
        </div>
        <div>
            <button (click)="addProduct()" class="btn btn-primary">
                Add product
                <i [attr.data-feather]="'plus'" appFeatherIcon></i>
            </button>
        </div>
    </div>
    <div *ngIf="form" class="input-group mb-4" [formGroup]="form">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary">
                <i [attr.data-feather]="'search'" appFeatherIcon></i>
            </span>
        </div>
        <input type="text" class="form-control" formControlName="q" placeholder="Search for products">
    </div>
    <ng-container *ngIf="loading; else noloading;">
        <div class="row" *ngIf="loading">
            <div class="mx-auto my-5">
                <div class="spinner-border text-primary m-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noloading>
        <ng-container *ngIf="products.length; else noProducts;">
            <div class="table-responsive mb-4">
                <table class="table m-0 table-striped">
                    <colgroup>
                        <col class="col-4">
                    </colgroup>
                    <tbody>
                        <ng-container *ngFor="let product of products">
                            <tr class="border-2 mb-3">
                                <td (click)="goToDetails(product)" class="cursor-pointer font-weight-bold">{{product.name}}</td>
                                <td (click)="goToDetails(product)" class="cursor-pointer"><span class="font-weight-bold">Buy. Price:</span> {{product.buying_price | currency:'¢':'symbol':'1.2-2'}}</td>
                                <td (click)="goToDetails(product)" class="cursor-pointer"><span class="font-weight-bold">Sell. Price:</span> {{product.selling_price | currency:'¢':'symbol':'1.2-2'}}</td>
                                <td (click)="goToDetails(product)" class="cursor-pointer"><span class="font-weight-bold">Num. Orders</span> {{product.num_of_orders}}</td>
                                <td (click)="goToDetails(product)" class="cursor-pointer"><span class="badge badge-pill" [class.badge-soft-success]="product.total_stock >= 10" [class.badge-soft-danger]="product.total_stock < 10">{{product.total_stock}} left</span></td>
                                <td ngbDropdown container="body" class="cursor-pointer">
                                    <span ngbDropdownToggle class="no-dropdown-arrow"><i class="fa fa-2x fa-ellipsis-v"></i></span>
                                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <a (click)="editProduct(product)" href="javascript:void(0)" ngbDropdownItem>
                                            Edit
                                        </a>
                                        <a (click)="promptForDeletingProduct(product)" href="javascript:void(0)" ngbDropdownItem>
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ng-container *ngIf="count > 10">
                <div class="mb-5 d-flex justify-content-center align-items-center">
                    <ngb-pagination [maxSize]="5" [rotate]="true" size="sm" class="d-flex justify-content-end" (pageChange)="fetchPage($event)" [collectionSize]="count" [(page)]="page" aria-label="Custom pagination">
                        <ng-template ngbPaginationPrevious>
                            <span><i [attr.data-feather]="'arrow-left'" appFeatherIcon></i></span>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <span><i [attr.data-feather]="'arrow-right'" appFeatherIcon></i></span>
                        </ng-template>
                    </ngb-pagination>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noProducts>
            <div class="text-center py-5">
                <p class="font-weight-normal font-size-15">No products available</p>
            </div>
        </ng-template>
    </ng-template>
</div>