<div class="form-group mb-4" [formGroup]="group">
    <label class="form-control-label" [for]="field.name">{{field.name | translate}} {{field.required ? '*' : ''}}</label>
    <div class="input-group align-items-center position-relative">
        <input 
        [type]="field.inputType" class="form-control"
        [formControlName]="field.name"
        placeholder="{{'placeholders.text' | translate}} {{field.name | translate}}"
        [attr.id]="field.name"
        #input
        aria-required="true" 
        aria-invalid="false">
        <div class="input-group-append password is-a" (click)="togglePassword()">
            <div [attr.toggle]="field.name" class="fa" [class.fa-eye]="show===false" 
                [class.fa-eye-slash]="show===true">
            </div>
        </div>
    </div>
    <ng-container *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
        <ng-container *ngFor="let validation of field.validations;">
            <div *ngIf="group.get(field.name).hasError(validation.name)" class="text-danger small mb-0 mt-2">
                {{'validations.' + validation.name | translate}}
            </div>
        </ng-container>
    </ng-container>
</div>
