<div class="row">
    <div class="col-lg-12">
        <label class="form-control-label">{{field.name | translate}} {{field.required ? '*' : ''}}</label>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-12">
        <div class="dropzone-wrapper mb-2">
            <div class="dropzone form row" #dropzone [dropzone]="config" (addedFile)="_onAddedFile($event)" (removedFile)="_onRemovedFile($event)">
            </div>
        </div>
        <ng-container *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
            <ng-container *ngFor="let validation of field.validations;">
                <div *ngIf="group.get(field.name).hasError(validation.name)" class="text-danger text-center small mb-0 mt-2">
                    {{'validations.' + validation.name | translate}}
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>