<div class="container-fluid">
    <div class="row h-100-vh">
        <div class="col-lg-8 d-none d-lg-block bg-dark p-5 position-relative">
            <a [routerLink]="['/account/auth/sign-in']"><img width="100" height="auto" src="../../../../../../assets/images/logo-with-name.png" alt="logo"></a>
            <div class="h-70-vh d-flex align-items-center px-5 mt-5">
                <div class="mt-5">
                    <h1 class="text-light font-weight-bold mb-5">You are almost there. Let's complete this final step...</h1>
                    <ul class="list-unstyled mt-4">
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-success"><i [attr.data-feather]="'mail'" appFeatherIcon></i></span>
                            <span class="text-uppercase text-success">EMAIL DETAILS</span>
                        </li>
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-success"><i [attr.data-feather]="'check-circle'" appFeatherIcon></i></span>
                            <span class="text-uppercase text-success">COMPLETE</span>
                        </li>
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-primary"><i [attr.data-feather]="'lock'" appFeatherIcon></i></span>
                            <span class="text-primary text-uppercase">RESET PASSWORD</span>
                        </li>
                    </ul>
                </div>
            </div>
            <app-dev-info [background]="'dark'"></app-dev-info>
        </div>
        <div class="col-12 col-lg-4 p-5">
            <div class="my-5">
                <h1 class="mb-4 font-weight-bold">Reset Password</h1>
                <p class="mb-0">
                    <a [routerLink]="['/account/auth/sign-in']">Sign In</a>
                </p>
            </div>
            <dynamic-form [formClasses]="''" [groupValidator]="matchPasswordValidator" #form [fields]="fields"></dynamic-form>
            <div class="mt-4 d-flex align-items-center">
                <button (click)="resetPassword()" class="btn btn-primary btn-neu-light btn-block">
                    Reset Password
                    <ng-container *ngIf="loading; else noloading">
                        <div class="ml-3 spinner-border spinner-border-sm text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </ng-container>
                    <ng-template #noloading>
                        <i [attr.data-feather]="'arrow-right'" appFeatherIcon></i>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>
