<div class="container-fluid mt-4">
    <div class="mb-4">
        <h1 class="my-0">Orders</h1>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-12 col-sm-10 mb-2 mb-sm-0 px-0 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text text-primary">
                    <i [attr.data-feather]="'search'" appFeatherIcon></i>
                </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="q" (keyup)="searchOrders($event)" placeholder="Search for orders">
        </div>
        <div class="col-12 col-sm-2 px-0" ngbDropdown container="body" display="dynamic" placement="bottom-right">
            <button ngbDropdownToggle class="btn btn-block btn-soft-primary no-dropdown-arrow text-primary">
                Filter
                <i class="uil uil-filter"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right p-4">
                <p class="mb-2 font-size-14 font-weight-normal">By Payment Status</p>
                <div class="row align-items-center mb-4">
                    <div class="col-6 mb-2 form-check">
                        <input class="form-check-input" type="radio" name="payment_status" id="all" [value]="'ALL'" (change)="filterOrders()" [(ngModel)]="paymentStatus">
                        <label class="form-check-label" for="all" class="mb-0">All</label>
                    </div>
                    <div class="col-6 mb-2 form-check">
                        <input class="form-check-input" type="radio" name="payment_status" id="PAID" [value]="'PAID'" (change)="filterOrders()" [(ngModel)]="paymentStatus">
                        <label class="form-check-label" for="PAID" class="mb-0">Paid</label>
                    </div>
                    <div class="col-6 form-check">
                        <input class="form-check-input" type="radio" name="payment_status" id="PENDING" [value]="'PENDING'" (change)="filterOrders()" [(ngModel)]="paymentStatus">
                        <label class="form-check-label" for="PENDING">Not Paid</label>
                    </div>
                </div>
                <hr>
                <p class="mb-2 font-size-14 font-weight-normal">By Confirmation Status</p>
                <div class="row align-items-center mb-4">
                    <div class="col-6 mb-2 form-check">
                        <input class="form-check-input" type="radio" name="confirmed" id="confirmationStatusAll" [value]="'ALL'" (change)="filterOrders()" [(ngModel)]="confirmationStatus">
                        <label class="form-check-label" for="confirmationStatusAll" class="mb-0">All</label>
                    </div>
                    <div class="col-6 mb-2 form-check">
                        <input class="form-check-input" type="radio" name="confirmed" id="NOT_CONFIRMED" [value]="'NOT_CONFIRMED'" (change)="filterOrders()" [(ngModel)]="confirmationStatus">
                        <label class="form-check-label" for="NOT_CONFIRMED" class="mb-0">Not Confirmed</label>
                    </div>
                    <div class="col-6 form-check">
                        <input class="form-check-input" type="radio" name="confirmed" id="CONFIRMED" [value]="'CONFIRMED'" (change)="filterOrders()" [(ngModel)]="confirmationStatus">
                        <label class="form-check-label" for="CONFIRMED">Confirmed</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="loading; else noloading;">
        <div class="row" *ngIf="loading">
            <div class="mx-auto my-5">
                <div class="spinner-border text-primary m-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noloading>
        <ng-container *ngIf="orders.length; else noOrders;">
            <div class="table-responsive mb-5">
                <table class="table m-0 table-striped">
                    <colgroup>
                        <col class="col-4">
                    </colgroup>
                    <tbody>
                        <ng-container *ngFor="let order of orders">
                            <tr class="border-2 mb-3">
                                <td (click)="goToDetails(order)" class="cursor-pointer">
                                    <span class="font-weight-bold">Buyer:</span>
                                    {{order.customer.first_name + ' ' + order.customer.last_name}}
                                </td>
                                <td (click)="goToDetails(order)" class="cursor-pointer font-weight-bold">#{{order.number}}</td>
                                <td (click)="goToDetails(order)" class="cursor-pointer"><span class="font-weight-bold">Num. of Products:</span> {{order.number_of_products}}</td>
                                <td (click)="goToDetails(order)" class="cursor-pointer"><span class="font-weight-bold">Tt. Amount:</span> {{order.total_amount | currency:currency:'symbol':'1.2-2'}}</td>
                                <td (click)="goToDetails(order)" class="cursor-pointer"><span class="font-weight-bold">Amount Paid:</span> {{order.amount_paid | currency:currency:'symbol':'1.2-2'}}</td>
                                <td (click)="goToDetails(order)" class="cursor-pointer"><span class="font-weight-bold">Balance:</span> {{order.balance | currency:currency:'symbol':'1.2-2'}}</td>
                                <td (click)="goToDetails(order)" class="cursor-pointer text-center"><span class="badge badge-pill px-3 py-2" [class.badge-soft-success]="order.payment_status == 'Paid'" [class.badge-light]="order.payment_status == 'Not Paid'" [class.badge-soft-warning]="order.payment_status == 'Partially Paid'">{{order.payment_status | uppercase}}</span></td>
                                <td (click)="goToDetails(order)" class="cursor-pointer text-center"><span class="badge badge-pill px-3 py-2" [class.badge-soft-success]="order.confirmed" [class.badge-light]="!order.confirmed">{{ ( order.confirmed ? 'Confirmed' : 'Not Confirmed' )  | uppercase}}</span></td>
                                <td ngbDropdown container="body" class="cursor-pointer">
                                    <span ngbDropdownToggle class="no-dropdown-arrow"><i class="fa fa-2x fa-ellipsis-v"></i></span>
                                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <a (click)="goToDetails(order)" href="javascript:void(0)" ngbDropdownItem>
                                            View
                                        </a>
                                        <a *ngIf="order.payment_status === 'Pending'" [routerLink]="['/dashboard/orders/edit', order.id]" ngbDropdownItem>
                                            Edit
                                        </a>
                                        <a *ngIf="!order.confirmed" (click)="confirmOrder(order)" href="javascript:void(0)" ngbDropdownItem>Mark as confirmed</a>
                                        <a *ngIf="order.payment_status === 'Pending'" (click)="recordPayment(order)" href="javascript:void(0)" ngbDropdownItem>Mark as paid</a>
                                        <a *ngIf="order.payment_status === 'Pending'" (click)="promptForDeletingOrder( order )" href="javascript:void(0)" ngbDropdownItem>
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ng-container *ngIf="count > 10">
                <div class="mt-3 d-flex justify-content-center align-items-center">
                    <ngb-pagination [maxSize]="5" [rotate]="true" size="sm" class="d-flex justify-content-end" (pageChange)="fetchPage($event)" [collectionSize]="count" [(page)]="page" aria-label="Custom pagination">
                        <ng-template ngbPaginationPrevious>
                            <span><i [attr.data-feather]="'arrow-left'" appFeatherIcon></i></span>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <span><i [attr.data-feather]="'arrow-right'" appFeatherIcon></i></span>
                        </ng-template>
                    </ngb-pagination>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noOrders>
            <div class="text-center py-5">
                <p class="font-weight-normal font-size-15">No orders available</p>
            </div>
        </ng-template>
    </ng-template>
</div>
