<div class="container-fluid">
    <div class="row h-100-vh">
        <div class="col-lg-4 d-none d-lg-block bg-dark p-5 position-relative">
            <a href="javascript:void(0)" (click)="signOut()"><img width="100" height="auto" src="../../../../../../assets/images/logo-with-name.png" alt="logo"></a>
            <div class="mt-5">
                <ul class="list-unstyled mt-4">
                    <li class="mb-4">
                        <span class="mr-3 text-success"><i [attr.data-feather]="'check-circle'" appFeatherIcon></i></span>
                        <span class="text-uppercase">USER DETAILS</span>
                    </li>
                    <li class="mb-4">
                        <span class="mr-3 text-primary"><i [attr.data-feather]="'arrow-right-circle'" appFeatherIcon></i></span>
                        <span class="text-primary text-uppercase">STORE DETAILS</span>
                    </li>
                    <li class="mb-4">
                        <span class="mr-3"><i [attr.data-feather]="'arrow-right-circle'" appFeatherIcon></i></span>
                        <span class="text-uppercase">COMPLETE</span>
                    </li>
                </ul>
            </div>
            <app-dev-info></app-dev-info>
        </div>
        <div class="col-12 col-lg-8 bg-gray p-5">
            <p class="text-lg-right">
                Would you like to continue later ?
                <a href="javascript:void(0)" (click)="signOut()">Sign Out</a>
            </p>
            <div class="my-5">
                <h1 class="mb-0 font-weight-bold">Create Your Store</h1>
                <p class="mb-0">Kindly input your details</p>
            </div>
            <dynamic-form [formClasses]="''" #form [fields]="fields"></dynamic-form>
            <ng-container *ngIf="plans.length">
                <p class="font-size-14 mb-2">Plans</p>
                <div class="row mb-5">
                    <ng-container *ngFor="let p of plans">
                        <div class="col-12 col-md-6 col-lg-4">
                            <label class="w-100 mb-2 radio-button-wrapper">
                                <input type="radio" name="plan" [(ngModel)]="plan" [value]="p.plan_type">
                                <div class="d-flex justify-content-between p-4 rounded-lg">
                                    <div>
                                        <p class="font-size-15 mb-0 font-weight-bold text-primary text-left">{{p.plan_type}}</p>
                                        <p class="small text-muted mb-0 font-weight-semibold text-left">
                                            {{p.products_limit}} Products; 
                                            {{p.orders_limit === -1 ? 'Unlimited' : p.orders_limit}} Orders; 
                                            {{p.customers_limit === -1 ? 'Unlimited' : p.customers_limit}} Customers
                                        </p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <div class="mt-4 d-flex align-items-center">
                <button (click)="createStore()" class="btn btn-primary">
                    Create Store
                    <i [attr.data-feather]="'arrow-right'" appFeatherIcon></i>
                </button>
                <div *ngIf="loading" class="ml-3 spinner-border spinner-border-sm text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
