<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-lg-8 d-none d-lg-block bg-dark p-5 position-relative">
            <a href="javascript:void(0)" (click)="getStarted()"><img width="100" height="auto" src="../../../../../../assets/images/logo-with-name.png" alt="logo"></a>
            <div class="h-70-vh d-flex align-items-center px-5 mt-5">
                <div class="mt-5">
                    <h1 class="text-light font-weight-bold mb-5">{{'signUpConfirmationLeft1' | translate}}</h1>
                    <ul class="list-unstyled mt-4 ml-4">
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-success"><i [attr.data-feather]="'user'" appFeatherIcon></i></span>
                            <span class="text-uppercase text-success">{{'signUpSteps1' | translate}}</span>
                        </li>
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-success"><i [attr.data-feather]="'shopping-bag'" appFeatherIcon></i></span>
                            <span class="text-uppercase text-success">{{'signUpSteps2' | translate}}</span>
                        </li>
                        <li class="mb-4 font-size-18">
                            <span class="mr-3 text-primary"><i [attr.data-feather]="'check-circle'" appFeatherIcon></i></span>
                            <span class="text-primary text-uppercase">{{'signUpSteps3' | translate}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <app-dev-info [background]="'dark'"></app-dev-info>
        </div>
        <div class="col-12 col-lg-4 p-5">
            <div class="my-5">
                <h1 class="mb-4 font-weight-bold">{{'congratulations' | translate}}</h1>
                <p class="mb-0">
                    <a href="javascript:void(0)" (click)="getStarted()">{{'login' | translate}}</a>
                </p>
            </div>
            <div class="mt-4 mb-5">
                <p>{{'signUpConfirmationRight1' | translate}}</p>
                <h5 class="text-break">
                    <span class="text-black">{{ user.email }}</span>
                </h5>
            </div>
            <p class="mt-0"><a href="javascript:void(0)" (click)="resendConfirmationCode()">{{'resendVerificationEmail' | translate}}</a></p>
            <div class="mt-4">
                <a href="javascript:void(0)" (click)="getStarted()" class="btn btn-primary btn-neu-light btn-block">
                    {{'getStarted' | translate}}
                    <i [attr.data-feather]="'arrow-right'" appFeatherIcon></i>
                </a>
            </div>
        </div>
    </div>
</div>

