<div class="menu-wrapper d-flex d-lg-none">
    <a href="javascript:void(0)" (click)="toggleMenu()" class="close-button display-4 font-weight-light text-dark">×</a>
    <div class="menu">
        <div class="menu-container mb-5">
            <h3 class="mb-0">Souko</h3>
        </div>
        <div class="menu-container">
            <ul class="list-unstyled">
                <li class="mb-4">
                    <a (click)="toggleMenu()" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link-item font-size-18 font-weight-bold">
                        <span class="mr-3"><i [attr.data-feather]="'home'" appFeatherIcon></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="mb-4">
                    <a (click)="toggleMenu()" [routerLink]="['/products']" routerLinkActive="active" class="link-item font-size-18 font-weight-bold">
                        <span class="mr-3"><i [attr.data-feather]="'shopping-cart'" appFeatherIcon></i></span>
                        <span>Products</span>
                    </a>
                </li>
                <li class="mb-4">
                    <a (click)="toggleMenu()" [routerLink]="['/orders']" routerLinkActive="active" class="link-item font-size-18 font-weight-bold">
                        <span class="mr-3"><i [attr.data-feather]="'credit-card'" appFeatherIcon></i></span>
                        <span>Orders</span>
                    </a>
                </li>
                <li class="mb-4">
                    <a (click)="toggleMenu()" [routerLink]="['/customers']" routerLinkActive="active" class="link-item font-size-18 font-weight-bold">
                        <span class="mr-3"><i [attr.data-feather]="'users'" appFeatherIcon></i></span>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="mb-4">
                    <a (click)="toggleMenu()" [routerLink]="['/my-store']" routerLinkActive="active" href="javascript:void(0)" class="link-item font-size-18 font-weight-bold">
                        <span class="mr-3"><i [attr.data-feather]="'home'" appFeatherIcon></i></span>
                        <span>My Store</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
