<router-outlet></router-outlet>
<footer class="py-3 bg-dark text-muted small text-center text-sm-left">
    <div class="container d-sm-flex align-items-center justify-content-between">
        <div>
            <p class="mb-0">Souko.me</p>
        </div>
        <div class="mt-2 mt-sm-0">
            <p class="mb-0 text-primary">
                <a class="mr-3" (click)="changeLanguageToFrench()" href="javascript:void(0)">Francais</a>
                <a (click)="changeLanguageToEnglish()" href="javascript:void(0)">English</a>
            </p>
        </div>
    </div>
</footer>
