<div class="container-fluid mt-4">
    <div class="row justify-content-between mb-4 align-items-center">
        <div class="col-12 text-sm-center text-md-left pr-0">
            <h1 class="my-0">My Store</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12">
            <ul class="nav nav-tabs border-0 justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="information"
                        routerLinkActive="active">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="billing"
                        routerLinkActive="active">Billing</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

