<div class="container-fluid mt-4">
    <div class="row justify-content-between mb-4 align-items-center">
        <div class="col-2 col-sm-1 px-0 d-flex align-items-center">
            <a [routerLink]="['/dashboard']" class="mr-4 display-4 font-weight-light text-dark">
                <i class="uil uil-arrow-left"></i>
            </a>
        </div>
        <div class="col-10 col-sm text-sm-center text-md-left pr-0">
            <h1 class="my-0">My Store</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12">
            <ul class="nav nav-tabs border-0 justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="information"
                        routerLinkActive="active">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="billing"
                        routerLinkActive="active">Billing</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

