<div class="container-fluid p-5">
    <div class="d-flex mb-5 align-item-start">
        <div class="d-flex align-items-start">
            <a href="javascript:void(0)" class="mr-4 display-4 font-weight-light text-dark" (click)="dismiss()">×</a>
        </div>
        <div>
            <h1 class="my-0">{{'customersContent.createCustomer' | translate}}</h1>
            <p class="mb-0">{{'customersContent.fillTheRequiredFields' | translate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <dynamic-form [formClasses]="''" [fields]="fields"></dynamic-form>
        </div>
        <div class="col-12 px-0">
            <button (click)="createCustomer()" class="btn btn-primary">
                {{'customersContent.createCustomer' | translate}}
            </button>
            <div *ngIf="loading" class="ml-3 spinner-border spinner-border-sm text-dark" role="status">
                <span class="sr-only">{{'loading' | translate}}...</span>
            </div>
        </div>
    </div>
</div><!-- end container -->
