<div class="container-fluid mt-4">
    <div class="d-block d-sm-flex mb-4 justify-content-between align-items-center">
        <div class="mb-2 mb-sm-0">
            <h1 class="my-0">Customers</h1>
        </div>
        <div>
            <button (click)="createCustomer()" class="btn btn-primary">
                Add Customer
                <i [attr.data-feather]="'plus'" appFeatherIcon></i>
            </button>
        </div>
    </div>
    <div *ngIf="form" class="input-group mb-4" [formGroup]="form">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary">
                <i [attr.data-feather]="'search'" appFeatherIcon></i>
            </span>
        </div>
        <input type="text" class="form-control" formControlName="q" placeholder="Search for customers">
    </div>
    <ng-container *ngIf="loading; else noloading;">
        <div class="row" *ngIf="loading">
            <div class="mx-auto my-5">
                <div class="spinner-border text-primary m-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noloading>
        <ng-container *ngIf="customers.length; else noCustomers;">
            <div class="table-responsive">
                <table class="table m-0 table-striped">
                    <tbody>
                        <ng-container *ngFor="let customer of customers">
                            <tr class="border-2 mb-3">
                                <td (click)="goToDetails(customer)" class="cursor-pointer font-weight-bold">{{customer.first_name + ' ' + customer.last_name}}</td>
                                <td (click)="goToDetails(customer)" class="cursor-pointer"><span class="font-weight-bold">Joined on:</span> {{customer.created_at | date}}</td>
                                <td (click)="goToDetails(customer)" class="cursor-pointer"><span class="font-weight-bold">{{ customer.city ? customer.city : '' + ' ' + customer.country }}</span></td>
                                <td (click)="goToDetails(customer)" class="cursor-pointer"><span class="font-weight-bold">Num. Orders:</span> {{ customer.number_of_orders }}</td>
                                <td ngbDropdown container="body" class="cursor-pointer">
                                    <span ngbDropdownToggle class="no-dropdown-arrow"><i class="fa fa-ellipsis-h"></i></span>
                                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <a (click)="editCustomer(customer)" href="javascript:void(0)" ngbDropdownItem>
                                            Edit
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ng-container *ngIf="count > 10">
                <div class="mt-3 d-flex justify-content-center align-items-center">
                    <ngb-pagination [maxSize]="5" [rotate]="true" size="sm" class="d-flex justify-content-end" (pageChange)="fetchPage($event)" [collectionSize]="count" [(page)]="page" aria-label="Custom pagination">
                        <ng-template ngbPaginationPrevious>
                            <span><i [attr.data-feather]="'arrow-left'" appFeatherIcon></i></span>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <span><i [attr.data-feather]="'arrow-right'" appFeatherIcon></i></span>
                        </ng-template>
                    </ngb-pagination>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noCustomers>
            <div class="text-center py-5">
                <p class="font-weight-normal font-size-15">No customers available</p>
            </div>
        </ng-template>
    </ng-template>
</div>