<nav class="navbar navbar-expand-lg justify-content-between justify-content-lg-start pt-3">
    <button class="navbar-toggler order-0 border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i [attr.data-feather]="'menu'" appFeatherIcon></i>
    </button>
    <div class="collapse navbar-collapse order-2 flex-grow-lg-0 flex-grow-1" id="navbarNav">
        <ul class="navbar-nav d-flex d-lg-none">
            <li class="nav-item">
                <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link font-size-18 font-weight-bold">
                    <span class="mr-3"><i [attr.data-feather]="'home'" appFeatherIcon></i></span>
                    <span>{{'dashboard' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/products']" routerLinkActive="active" class="nav-link font-size-18 font-weight-bold">
                    <span class="mr-3"><i [attr.data-feather]="'shopping-cart'" appFeatherIcon></i></span>
                    <span>{{'products' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/orders']" routerLinkActive="active" class="nav-link font-size-18 font-weight-bold">
                    <span class="mr-3"><i [attr.data-feather]="'credit-card'" appFeatherIcon></i></span>
                    <span>{{'orders' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/customers']" routerLinkActive="active" class="nav-link font-size-18 font-weight-bold">
                    <span class="mr-3"><i [attr.data-feather]="'users'" appFeatherIcon></i></span>
                    <span>{{'customers' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/my-store']" routerLinkActive="active" href="javascript:void(0)" class="nav-link font-size-18 font-weight-bold">
                    <span class="mr-3"><i [attr.data-feather]="'home'" appFeatherIcon></i></span>
                    <span>{{'myStore' | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="ml-3 ml-sm-auto navbar-nav justify-content-end flex-row align-items-center order-1">
        <li class="nav-item d-none d-md-block">
            <a [routerLink]="['/dashboard/orders/create']" class="btn btn-primary mr-3 btn-neu-light" href="javascript:void(0)"> 
                {{'recordOrder' | translate}}
                <i [attr.data-feather]="'plus'" appFeatherIcon></i>
            </a>
        </li>
        <li class="nav-item d-none d-md-block">
            <a class="btn btn-primary mr-4 btn-neu-light" (click)="addProduct()" href="javascript:void(0)"> 
                {{'addProduct' | translate}}
                <i [attr.data-feather]="'plus'" appFeatherIcon></i>
            </a>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item" display="dynamic" autoClose="outside">
            <a ngbDropdownToggle id="profileDropdown" href="javascript:void(0)" class="btn btn-primary no-dropdown-arrow">
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="profileDropdown" class="dropdown-menu dropdown-menu-right">
                <p *ngIf="myStore" class="mb-0 cursor-pointer" [cdkCopyToClipboard]="'https://souko.me/customer/place-order/' + myStore.id + '/select-products'" ngbDropdownItem>
                    <a href="javascript:void(0)" title="{{ 'https://souko.me/customer/place-order/' + myStore.id + '/select-products' }}" class="mr-2"><i class="fa fa-copy"></i></a>
                    {{'copyEcommerceLink' | translate}}
                </p>
                <a [routerLink]="['/dashboard/orders/create']" ngbDropdownItem>
                    {{'recordOrder' | translate}}
                </a>
                <a href="javascript:void(0)" (click)="addProduct()" ngbDropdownItem>
                    {{'addProduct' | translate}}
                </a>
                <a [routerLink]="['/dashboard/my-profile']" ngbDropdownItem>
                    {{'profile' | translate}}
                </a>
                <a href="javascript:void(0)" (click)="logout()" ngbDropdownItem>
                    {{'logout' | translate}}
                </a>
            </div>
        </li>
    </ul>
</nav>