<div class="container-fluid min-vh-100 mt-4">
    <ng-container *ngIf="loading; else noloading;">
        <div class="row">
            <div class="mx-auto my-5">
                <div class="spinner-border text-primary m-2" role="status">
                    <span class="sr-only">{{'loading' | translate}}...</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noloading>
        <div class="row justify-content-between mb-4">
            <div class="col-12 col-md-5 px-0 d-flex mb-3 align-item-start pt-3">
                <div class="col-2 col-sm-1 px-0 d-flex align-items-center justify-content-center">
                    <a [routerLink]="['/dashboard/products/list/']" class="display-4 font-weight-light text-dark">
                        <i [attr.data-feather]="'arrow-left'" appFeatherIcon></i>
                    </a>
                </div>
                <div class="col-9 col-sm text-sm-center text-md-left pr-0">
                    <div class="media align-items-center">
                        <ng-container *ngIf="product.compressed_product_picture_url; else noProductPicture;">
                            <a [href]="product.compressed_product_picture_url" class="lightbox">
                                <div class="avatar-xl rounded-circle d-flex align-items-center justify-content-around text-center">
                                    <img class="img-fit rounded-circle" [src]="product.compressed_product_picture_url" alt="product picture">
                                </div>
                            </a>
                        </ng-container>
                        <ng-template #noProductPicture>
                            <ngx-avatar class="rounded-circle" [round]="true" [cornerRadius]="4" [size]="96" name="{{product.name}}"></ngx-avatar>
                        </ng-template>
                        <div class="media-body ml-3">
                            <h3 class="my-0">{{product.name}}</h3>
                            <p class="mb-0">{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                <button (click)="editProduct()" class="mr-3 btn btn-neu-light" href="javascript:void(0)">{{'actions.Edit' | translate}} <i class="fa fa-pencil"></i></button>
                <button (click)="promptForDeletingProduct()" class="ml-2 btn btn-danger" href="javascript:void(0)">{{'actions.Delete' | translate}} <i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6 col-12 order-md-1 mb-4 mb-lg-0 mt-lg-4">
                <div class="card rounded-xl mb-4 neu-out">
                    <div class="card-body">
                        <div class="media mb-4 align-items-center">
                            <div class="avatar avatar-md rounded-circle d-flex align-items-center justify-content-around bg-soft-primary text-center text-primary">
                                <i class="fa fa-2x fa-shopping-basket"></i>
                            </div>
                            <div class="media-body ml-4">
                                <h4 class="text-primary my-0">{{ product.selling_price | currency:currency:'symbol':'1.0-0' }}</h4>
                                <p class="font-size-14 mb-2 text-muted">{{'productsContent.sellPrice' | translate}}</p>
                            </div>
                        </div>
                        <div class="media mb-4 align-items-center">
                            <div class="avatar avatar-md rounded-circle d-flex align-items-center justify-content-around bg-light text-center text-dark">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                            <div class="media-body ml-4">
                                <h4 class="text-dark my-0">{{ product.buying_price | currency:currency:'symbol':'1.0-0' }}</h4>
                                <p class="font-size-14 mb-2 text-muted">{{'productsContent.buyPrice' | translate}}</p>
                            </div>
                        </div>
                        <div class="media mb-4 align-items-center">
                            <div class="avatar avatar-md rounded-circle d-flex align-items-center justify-content-around bg-soft-primary text-center text-primary">
                                <i class="fa fa-2x fa-shopping-bag"></i>
                            </div>
                            <div class="media-body ml-4">
                                <h4 class="text-primary my-0">{{ product.num_of_orders }}</h4>
                                <p class="font-size-14 mb-2 text-muted">{{'productsContent.sold' | translate}}</p>
                            </div>
                        </div>
                        <div class="media align-items-center">
                            <div class="avatar avatar-md rounded-circle d-flex align-items-center justify-content-around bg-light text-center text-dark">
                                <i class="fa fa-archive fa-2x"></i>
                            </div>
                            <div class="media-body ml-4">
                                <h4 class="text-dark my-0">{{ product.buying_price | currency:currency:'symbol':'1.0-0' }}</h4>
                                <p class="font-size-14 mb-2 text-muted">{{'productsContent.stock' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 order-md-0">
                <ul class="nav nav-tabs border-0 justify-content-start mb-4">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="stocks"
                            routerLinkActive="active">{{'productsContent.stocks' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="buyers"
                            routerLinkActive="active">{{'productsContent.buyers' | translate}}</a>
                    </li>
                </ul>
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-template>
</div>