<div class="" [formGroup]="group">
    <div class="">
        <div class="form-group clearfix">
            <label class="control-label form-label" [for]="field.name">{{field.label}}</label>
            <input type="text"
                class="form-control"
                [formControlName]="field.name"
                ng2TelInput
                [ng2TelInputOptions]="{initialCountry: 'gh'}"
                (hasError)="hasError($event)"
                [id]="field.name"
                (ng2TelOutput)="getNumber($event)" />
            <ng-container
                *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
                <ng-container *ngFor="let validation of field.validations;">
                <div *ngIf="group.get(field.name).hasError(validation.name)" class="text-danger small mb-0 mt-2">
                    {{validation.message}}
                </div>
                </ng-container>
                <div *ngIf="group.get(field.name).hasError('notValid')" class="text-danger small mb-0 mt-2">
                Phone number is not valid
                </div>
            </ng-container>
        </div>
    </div>
</div>
